.pet_details_container {
  text-align: center;
}
.pet_details_container p {
  margin-bottom: 1em;
}
.pet_details_container header {
  margin-bottom: 2em;
}

.pet_images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 1000px;
}

.pet_images img {
  max-height: 200px;
  margin: 1em;
}

.pet_details_container button {
  text-decoration: none;
  background-color: #25b456;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  padding: 7px 15px;
  margin-top: 12px;
  max-width: 200px;
  min-height: 2.5em;
}

.pet_details_container button:hover {
  background-color: #1c8a42;
}
